table{
    /* width: 100%; */
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
    box-shadow: 0 5px 10px rgb(237, 226, 226);

    /* background: #ffffff; */
    
}
tr {
    border-bottom: 1px solid #cbcbcb;
    
}
th{
    background-color: #6c1616;
    color: #dff0d8;
    /* box-shadow: 0 5px 10px rgb(255, 255, 255); */

}
tr:nth-child(even) {background-color: #fdf6f6;}
th, td{
    border: none;
    height: 30px;
    padding: 2px;
    padding-left: 30px;
    padding-right: 30px;
}
tr:hover {
    background: #eedcdc;
}

form {
    /* width: 100%; */
    margin: 50px auto;
    text-align: left;
    padding: 20px; 
    border: 1px solid #ffffff; 
    border-radius: 5px;
}

.input-group {
    margin: 10px 0px 10px 0px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    /* width: 93%; */
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    /* border: 1px solid rgb(0, 0, 0); */
}
.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}
.msg {
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}