
  .column {
    float: left;
    width: 33%;
    height: auto;
    margin-bottom: 16px;
   padding: 0 8px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    width: 370px;
    height: 450px;
  }

  .cta {
    padding: 0 8px;
    min-height: 200px;

  
  }
  .cta h2{
    text-align: left;
    font-size: 17px;
    font-weight: bold;
   /* font: 18px LatoGoogle,Lato,LatoWeb, sans-serif,bold;*/
    /*color:red;*/
  }
  .price{
    /* min-height: 200px; */
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  .card button{margin-bottom: 20px;}
  .card h2{margin-top:10px;margin-bottom: 10px;text-align: left;}
  
  .cta::after, .row1::after {
    content: "      ";
    clear: both;
    display: flex ;
  }
  .submit_button{
    display: flex;
    border-radius: 2%;
    margin: 0 auto;
  }
  
.button {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 12px;
    padding: 5px;
    /* border: none; */
    /* outline: 0; */
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #da1515;
    text-align: center;
    cursor: pointer;
    width: 50%;
    margin-bottom: 20px;

  }
  
  .button:hover {
    background-color: rgb(249, 14, 14);
  }

  .card img {
    max-height: 300px;
  }
 